html {
    position: relative;
    min-height: 100%;
}


li{
	font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.2em; font-color: #000000
}

li.myown
	{font-weight: 700;
	color: #000000;
	border-bottom: 5px solid #000;
	background-color: #fff;
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	}	

.navbar
{background-color: #fff;
border: 0px; 
height: 50px;
}

a:link {
	color: #000000;
	text-decoration: none;

}

.dropdown-menu > .disabled > a:focus {
  color: #000;
  }

a:hover {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:active {
	color: #000000;
	text-decoration: none;
}

body{
	padding-top: 100px;
	margin-bottom: 50px;
}

footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;

}

a.foot {
	text-decoration: underline;
}

p.foot {
	font-size: 1.2em;
}

h1{
	font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.2em; color: #000; padding-bottom: 10px; text-transform: uppercase
}

h2{
	font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.2em; color: #000; padding-bottom: 10px; text-transform: uppercase; text-align: center;
}

h1.faces {
	padding-bottom: 0px;
}

p{
	font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 1em; color: #000
}

p.cast{
	font-weight: 700;
}

h4 {
	font-family: inherit; font-size: 1em; color: inherit; opacity: 0.3
}

p span {
	max-width: 100px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   
}

.row {
	padding-bottom: 50px
}

#nested {
	padding-bottom: 0px
}


label { 
   position: absolute; 
   bottom: 10%; 
   left: 0; 
   width: 100%; 
}

label span { 
   color: white; 
   font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1em;   
   background: rgb(0, 0, 0);
   padding: 4px; 
}

label span.spacer {
   padding: 1px;
}

label.faces {
	bottom: 0;
}

h3 {
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	background-color: #000;
	padding: 10px;
	text-align: left;
	text-indent: 10%
	
}

h3 span {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.5em;

	
}

h3.faces {
	font-size: .7em;
	text-indent: 0;
	top: 90px;
}

#cover {
	height: 500px
}
#main {
	background-color: #fff;
	z-index: 1000
}

#about {
	margin-top: 50px
}

#stempel {

}

#spektakle {
	margin-bottom: 50px
}

#fake-modal {
	position: absolute;
	right: 5%;
	opacity: .3;
	
}

.bg-chopin {
  background: url('/img/chopin/cover_hd.jpg') no-repeat center center;
}

.bg-elementarz {
	background: url('/img/elementarz/cover_hd.jpg') no-repeat center center;
}

.bg-wbo {
	background: url('/img/wbo/cover_hd.jpg') no-repeat center center;
}

.bg-szapo {
	background: url('/img/szapo/cover_hd.jpg') no-repeat center center;
}

.bg-10pp {
	background: url('/img/10pp/cover_hd.jpg') no-repeat center center;
}

.bg-awantura {
	background: url('/img/awantura/cover_hd.jpg') no-repeat center center;
}

.bg-wycho {
	background: url('/img/wycho/cover_hd.jpg') no-repeat center center;
}

.bg-chopin, .bg-elementarz, .bg-wbo, .bg-szapo, .bg-10pp, .bg-awantura, .bg-wycho {
	position: absolute;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 500px;
  color: white;
  background:transparent;
}

iframe {
	height:400px;
}

#thumb {
	height: 175px;
	overflow: hidden
}

footer {
	font-size: 0.75em; font-family: 'Source Sans Pro', sans-serif; color:#303030;  

}

.modal-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	
}

.modal-content {
	border-radius: 0px;
	border: 0px;
	position: relative;
	transform: translate(-50%, -50%);

}

.modal-header {
	border-bottom: 0px;
}



.close {
	font-size: 1em;
}

.footer {
	font-size: 0.75em; font-family: 'Source Sans Pro', sans-serif; color:#303030;
	position: absolute;
	bottom: 0px;
	right: 50%;
	text-align: center;
}

#modal {width: 100%;}



@media (max-width: 991px) {
	label span {font-size: 1.2em}
	h3 span {font-size: 1em}
	.bg-chopin {background: url('/img/chopin/cover_sm.jpg') no-repeat center center;}
	.bg-elementarz {background: url('/img/elementarz/cover_sm.jpg') no-repeat center center;}
	.bg-wbo {background: url('/img/wbo/cover_sm.jpg') no-repeat center center;}
	.bg-szapo {background: url('/img/szapo/cover_sm.jpg') no-repeat center center;}
	.bg-10pp {background: url('/img/10pp/cover_sm.jpg') no-repeat center center;}
	.bg-awantura {background: url('/img/awantura/cover_sm.jpg') no-repeat center center;}
	.bg-wycho {background: url('/img/wycho/cover_sm.jpg') no-repeat center center;}
	h3 {text-indent: 13%}
	iframe {height:300px}
	#thumb {height:100px; overflow: hidden}
	.navbar-nav {margin-top: 0px}
	
	
}

@media (max-width: 767px) {
	body{padding-top: 70px}
	h1{font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.5em; color: #000; padding-bottom: 10px; text-transform: uppercase}
	p{font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 1em; color: #000}
	label span {font-size: 1em}
	li.myown {border-bottom: none; background-color: #fff}
	li {background-color: #fff;}
	h3 span {font-size: 1em}
	.bg-chopin {background: url('/img/chopin/cover.jpg') no-repeat center center;}
	.bg-elementarz {background: url('/img/elementarz/cover.jpg') no-repeat center center;}
	.bg-wbo {background: url('/img/wbo/cover.jpg') no-repeat center center;}
	.bg-szapo {background: url('/img/szapo/cover.jpg') no-repeat center center;}
	.bg-10pp {background: url('/img/10pp/cover.jpg') no-repeat center center;}
	.bg-awantura {background: url('/img/awantura/cover.jpg') no-repeat center center;}
	.bg-wycho {background: url('/img/wycho/cover.jpg') no-repeat center center;}
	h3 {text-indent: 2%}
	iframe {height:200px}
	#thumb {width: 400px; height:300px; overflow: hidden; }
	a.nomobile {
		pointer-events: none;
   		cursor: default
	}
	.modal-dialog {width: 90%; }
	img.faces {
	padding-top: 15px; max-width: 250px;
}
li.myown{
	margin-bottom: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0px;
	}	
	}




